# clk in

LOCATE COMP "clk_osc" SITE "K16";
IOBUF PORT "clk_osc" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_osc" 24 MHZ;

# UART TX/RX (from FPGA's point of view, i.e. TX is an output)

LOCATE COMP "uart_tx" SITE "T14"; # FPGA transmits to
LOCATE COMP "uart_rx" SITE "T15"; # FPGA receives from
IOBUF  PORT "uart_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "uart_rx" PULLMODE=UP IO_TYPE=LVCMOS33;

# LED

LOCATE COMP "led"  SITE "E15"; # LED0
IOBUF PORT  "led" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# JTAG

LOCATE COMP "tck"  SITE "F15"; #
LOCATE COMP "tms"  SITE "G15"; #
LOCATE COMP "tdi"  SITE "J15"; #
LOCATE COMP "tdo"  SITE "K15"; #

IOBUF PORT  "tck" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "tms" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "tdi" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "tdo" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

FREQUENCY PORT "tck" 5 MHZ;
